encryption = "age"
[age]
    recipient = "age15qakh7caj6tdmg2tup4ppu8pe748tfl6eggfz4u7nx2ps46dpynqlnr3wz"
    identity = "/home/lajna/.age/keys.txt"

[merge]
  command = "bash"
  args = [
    "-c",
    # This multiline string constructs the final command.
    # We define $lb and $rb to hold the brace characters, "escaping" them
    # from the parent template engine.
    '''
    {{- $lb := "{{" -}}
    {{- $rb := "}}" -}}
    cp {{ $lb }} .Target | printf "%q" {{ $rb }} {{ $lb }} .Target | printf "%q" {{ $rb }}.base && \
    code --new-window --wait --merge \
      {{ $lb }} .Destination | printf "%q" {{ $rb }} \
      {{ $lb }} .Target | printf "%q" {{ $rb }} \
      {{ $lb }} .Target | printf "%q" {{ $rb }}.base \
      {{ $lb }} .Source | printf "%q" {{ $rb }}
    ''',
  ]


[git]
    autoCommit = true
    autoPush = true
